.header {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  background-color: rgb(238, 243, 254);

  @include for_laptop {
    z-index: 9999999;
    height: 0;
  }

  .find_wide {
    width: 50%;
    margin: 0 auto;

    @include for_laptop {
      margin: 0;
      width: 100%;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__item {
  position: relative;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 32px;
  padding: 8px 0;

  &_item {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1d;

    &:hover,
    &_active,
    &_active *,
    &:hover * {
      color: #457eff;
    }

    &_active svg {
      transform: rotate(180deg);
    }

    @include for_laptop {
      padding: 0;
      margin-bottom: 24px;
      line-height: 24px;
      font-size: 20px;
      font-family: Inter, sans-serif;
      font-weight: 400;
    }

    &.with_arrow {
      position: relative;
      display: flex;
      align-items: center;
      flex-flow: row;
      background: transparent;

      span {
        font-size: 16px;
        line-height: 24px;
      }

      svg {
        margin-left: 4px;
      }
    }
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #808a9d;
    border-radius: 16px;
    background: transparent;
  }
}

.sub-menu {
  width: 176px;
  position: absolute;
  z-index: 10;
  top: calc(100% + 12px);
  right: 0;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  border: 1px solid rgba(47, 43, 67, 0.1);
  box-shadow: 0px 4px 8px 0px rgba(47, 43, 67, 0.1), 0px 0px 1px 0px #c2c5cc;

  .menu-item {
    display: block;
    padding: 10px 16px;
    list-style: none;
    cursor: pointer;
    font-weight: normal;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    color: #222;
    text-align: left;

    &:first-child {
      border-radius: 12px 12px 0 0;
    }

    &:last-child {
      border-radius: 0 0 12px 12px;
    }

    &:hover,
    &.active {
      background-color: rgba(47, 43, 67, 0.05);
    }
  }
}

.find {
  background: #f2f2f3;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px rgba(47, 43, 67, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  width: fit-content;
  margin-right: 20px;
  flex-grow: 10;
}

.mobile_menu_logo {
  margin-bottom: 30px;
  display: block;
}

.side-menu-container {
  z-index: 9999;
}

header > button > span:last-child {
  line-height: 24px;
  font-size: 16px;
}
