.footer {
  width: 100%;
  bottom: 0px;
  background: linear-gradient(180deg, #212121 0%, #212121 100%);
  color: $white;
  z-index: 4;
  flex: 0 0 auto;
  &_border {
    display: flex;

    height: 138px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    border-top: 1px solid #8f8f8f;
    background: linear-gradient(180deg, #212121 0%, #212121 100%);

    @include for_phone {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  @include for_tablet {
    height: 250px;
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for_tablet {
      // width: 320px;
      margin: auto;
      display: flex;
      flex-direction: column;
      height: 250px;
      padding: 45px 0;

      border-collapse: collapse;
    }

    .mail {
      a {
        text-decoration: none;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #8f8f8f;
      }
    }

    .socials-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      gap: 30px;
    }
  }
}

.logoFooter {
  @include for_tablet {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    width: 320px;
  }
}
