.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 32px 34px 32px 13px;
  width: 320px;
  height: 100vh;
  z-index: 999999;
  border-radius: 18px;
  background: #EEEEEE;
  overflow: auto;
  box-shadow: 66px 0px 27px rgba(71, 117, 224, 0.01), 37px 0px 22px rgba(71, 117, 224, 0.05), 17px 0px 17px rgba(71, 117, 224, 0.09), 4px 0px 9px rgba(71, 117, 224, 0.1), 0px 0px 0px rgba(71, 117, 224, 0.1);
  font-family: Inter, sans-serif;

  @media only screen and (max-width: 2050px) {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    padding-right: 14px;

    &_expanded {
      height: 100vh!important;
      padding-bottom: 20px;
    }
  }

  @media only screen and (max-width: 720px) {
    width: 100%;
    border-radius: 0;
    padding: 0;
    box-shadow: 0px 61px 24px rgba(76, 121, 225, 0.01), 0px 34px 21px rgba(76, 121, 225, 0.05), 0px 15px 15px rgba(76, 121, 225, 0.09), 0px 4px 8px rgba(76, 121, 225, 0.1), 0px 0px 0px rgba(76, 121, 225, 0.1);
    height: auto;
  }
}

.side-menu__mobile-wrapper {
  @media only screen and (max-width: 2050px) {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 720px) {
    padding: 15px 24px;
  }
}

.side-menu__logo {
  width: 140px;

  svg {
    width: 100%;
  }
}

.side-menu__connect-wallet {
  margin-top: 29px;
  background: linear-gradient(135deg, #D5DFF3 0%, #CBD5E9 100%);
  border: 1px solid rgba(69, 126, 255, 0.3);
  color: #3568DD;
  width: 100%;
  padding: 0 18px;
  height: 58px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.side-menu__content {
  @media only screen and (max-width: 720px) {
    padding: 0 13px;
  }
}

.side-menu__title {
  color: rgba(69, 126, 255, 0.45);
  font-size: 14px;
  padding-left: 11px;
  border-bottom: 1px solid rgba(69, 126, 255, 0.45);
  margin-top: 27px;
  display: block;
}

.side-menu__list {
  margin-top: 24px;
  padding-left: 11px;
  list-style: none;

  a {
    color: #0E0E0E;
    text-decoration: none;
    font-family: Inter, sans-serif;
    line-height: 140%;
    font-weight: 300;
    font-size: 16px;
  }

  svg {
    margin-right: 5px;
  }

  li {
    margin-bottom: 18px;
  }

  &_socials {
    display: flex;
    margin: 40px 0;

    li {
      margin: 0 32px 0 0;
    }
  }

  &_small li {
    margin-bottom: 16px;
  }
}

.side-menu__blue {
  color: #3568DD;

  b {
    color: #3568DD;
  }
}

.side-menu__list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-menu__list-vote {
  display: flex;
  align-items: center;
  font-weight: 300;

  span {
    color: #a2a2a2;

    &:last-child {
      font-size: 11px;
      padding: 4px 8px;
      margin-left: 8px;
      border-radius: 4px;
      border: 1px solid #a2a2a2;
      line-height: 140%;
    }
  }
}

.side-menu__connect-mobile {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 13px;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: 7px;
  border: 2px solid #0E0E0E;

  &_connected {
    border: 0;
  }
}

.side-menu__hamburger {
  background: transparent;
  display: none;
  border-radius: 15px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border: 0;
  margin-left: auto;

  @media only screen and (max-width: 2050px) {
    display: flex;
  }
}

.side-menu__address-block-title {
  font-size: 14px;
  padding-left: 11px;
  color: #457EFFA6;
  display: block;
  margin-top: 33px;

  @media only screen and (max-width: 720px) {
    margin-top: 20px;
  }
}

.address-block {
  background: #457EFF12;
  padding: 17px 0px 17px 22px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-top: 29px;
  span {
    font-family: sans-serif;
  }

  button {
    width: 32px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background: transparent;
  }
}

.address-block__metamask-icon {
  margin-right: 22px;
}

.address-block__copy {
  margin-left: 5px;
  margin-right: 8px;
}

.side-menu__address {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: 15px;
}

.side-menu__guide {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto 0 0;
  text-decoration: none;

  @media only screen and (max-width: 720px) {
    margin: 20px auto;
  }
}

.side-menu__list_small {
  margin-top: 45px;

  li {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }
  }
}
