.layout {
  margin: auto;
  flex-direction: column;
  min-height: 450px;
  padding-top: 110px;

  @media (max-width: 1200px) {
    padding-top: 50px;
  }

  &.page-maintenance {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      to right,
      #fef6ef 0%,
      #fcefe2 12%,
      #fcedde 27%,
      #fcefe2 43%,
      #d3e1ff 100%,
      #fefbf8 100%,
      #636261 100%,
      #5b8fff 100%
    );

    > .page {
      flex: 1 0 auto;
    }

    .subheader {
      display: none;
    }
  }
}

.page {
  display: flex;
  color: #212121;
  justify-content: center;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  position: relative;

  @include for_laptop {
    padding: 0 20px;
  }
}

.header {
  > header > div {
    & > a > button > span {
      line-height: inherit;
    }

    & > button > span {
      line-height: inherit;
      font-size: inherit;
    }
  }
}

.side-menu-container {
  transform: translateX(-340px);

  @media (max-width: 1840px) {
    transform: none;
    left: 16px;
  }

  @media (max-width: 428px) {
    left: 0;
    top: 0;
  }
}

.address-block button {
  background: transparent;
}

.side-menu-container {
  transform: translateX(-340px);

  @media (max-width: 1840px) {
    transform: none;
    left: 16px;
  }

  @media (max-width: 428px) {
    left: 0;
    top: 0;
  }
}

.address-block button {
  background: transparent;
}
