.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: auto;
  flex-direction: column;
  min-height: 450px;
}

.page {
  display: flex;
  color: #212121;
  justify-content: center;
  width: 100%;
  flex: 1 0 auto;
  min-height: 800px;
}

.container {
  width: 100%;
  max-width: 1140px;
  @include for_laptop {
    padding: 5px 20px;
  }
}
