.layout {
	display: flex;
	max-width: 100%;
	min-height: 100vh;
	margin: auto;
	position: relative;
	flex-direction: column;
	overflow: hidden;
	.page {
		min-height: 74vh;
		color: #212121;
		display: flex;
		justify-content: center;
		width: 100%;
		padding-bottom: 90px;
		@include for-device-small {
			padding-bottom: 60px;
		}

		.content {
			background-color: #f6f6f6;
			width: 100%;
			display: flex;
			flex-direction: column;

			&__header {
				background-color: #f6f6f6;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&__body {
				display: flex;
				overflow: auto;
				min-height: 360px;
				height: 100%;
				width: 100%;
				flex-direction: column;
				align-items: center;
				background-color: $white;
				border-top-left-radius: 32px;
				border-top-right-radius: 32px;
				@include for-device-large {
					min-height: 400px;
				}
			}
		}
	}
}

.container {
	width: 100%;
	max-width: 1140px;
	@include for-device-large {
		padding: 0 20px;
	}
}
