.blocks_content {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 44px;
  margin-top: 50px;
  background: #ffffff;

  &_table {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    flex-grow: 1;

    min-width: 320px;
  }

  &_heading {
    font-weight: 700;
    font-size: 1.29em;
    line-height: 1.78em;
    border-bottom: 1px solid $secondary;
    padding-bottom: 15px;
    color: #1e1e1f;
    white-space: nowrap;
  }
}

.blocks {
  display: grid;

  gap: 36px;
  align-items: center;
  padding: 0px 15px;

  &_mainTable {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &_header {
    display: flex;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
  }

  &_cell {
    white-space: nowrap;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  &_sort {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    border-bottom: 1px solid #eff2f5;

    &_heading {
      display: flex;
      flex: 2;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      @include for_phone {
        display: none;
      }
    }

    &_cells {
      display: flex;
      flex: 3;
      gap: 12px;
    }

    &_cell {
      font-weight: 400;
      font-size: 12px;
      line-height: 32px;
      color: #808a9d;
      white-space: nowrap;

      &:nth-child(1) {
        font-weight: 700;
        color: #05060f;
      }
    }

    .pointer {
      cursor: pointer;
    }

    &_active {
      color: #05060f;
    }
  }
}
