.calendar {
  margin-top: 8px;
  z-index: 1;
  border-radius: 12px;
  &_export_csv {
    position: relative;
    right: -24px;
    bottom: 56px;
    height: 40px;
    width: 100px;
    background-color: $main;
    color: $white;
    border-radius: 4px;
    @include for_phone {
      left: 24px;
    }
  }
  &_export_csv:hover {
    box-shadow: 4px 8px 8px rgb(0 0 0 / 25%);
  }
}

.rdrCalendarWrapper {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  border: 1px solid $secondary;
  box-sizing: border-box;
  box-shadow: 4px 8px 8px rgb(0 0 0 / 25%);
  border-radius: 12px;
  border-collapse: collapse;
  height: 385px;
  width: 400px;
  @include for_small_phone {
    width: 320px;
  }
}
.rdrDateDisplayWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
  order: 3;
}

.rdrDateDisplay {
  display: none;
  width: 100%;
}
.rdrMonthAndYearWrapper {
  order: 1;
  width: 100%;
}

.rdrMonths {
  order: 2;
  width: 100%;
  padding: 0 0.833em 2em 0.833em;

  @include for_phone {
    padding: 0 0 2em 0;
  }
}
.rdrMonth {
  width: 100%;
  height: 100%;

  @include for_phone {
    padding: 0 0 1.666em 0;
  }
}
.rdrDays {
  border-bottom: 1px solid #f6f6f6;
  width: 100%;
}

.rdrNextButton,
.rdrPprevButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
