.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;

  &_backgorund {
    background-color: rgb(238, 243, 254);

    @include for_laptop {
      padding-top: 60px;
    }

    &_expanded {
      height: inherit;
    }
  }

  &_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    background-color: rgb(238, 243, 254);
  }

  &_body {
    display: flex;
    // min-height: 500px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding-bottom: 90px;

    @include for_phone {
      padding-bottom: 60px;
    }
  }
}
