.filtered_token {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: $white;
  margin: 32px 0;
  border: 1px solid $secondary;
  border-radius: 16px;
  white-space: nowrap;
  @include for-device-small {
  }

  &_head {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid $secondary;
  }
  &_body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2.3em;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    @include for-device-small {
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      gap: 0;
      align-items: flex-start;
      padding-bottom: 12px;
    }
  }
  &_heading {
    font-weight: 700;
    font-size: 1.28em;
    line-height: 1.77em;
  }
  &_cells {
    display: flex;
    gap: 0.85em;
  }
  &_cells:nth-child(2) {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 12px;
    gap: 0;
  }
  &_cells:nth-child(1) {
    @include for-device-small {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding-right: 12px;
    }
  }
  &_cell {
    display: flex;
    gap: 8px;
    align-items: center;
    min-width: 120px;
    &:nth-child(2) {
      min-width: 0px;
    }

    &_bold {
      font-weight: 700;
      line-height: 2.22em;
    }
    &_normal {
      line-height: 2.22em;
    }
  }
  &_cell:nth-child(2) {
    min-width: 0px;
  }
}
