.filtered_token {
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 32px 0;
  border: 1px solid $secondary;
  border-radius: 16px;
  white-space: nowrap;

  &_head {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 7px 16px;
    border-bottom: 1px solid $secondary;
  }

  &_body {
    display: flex;
    gap: 0 2.3em;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 7px 16px;

    @include for_phone {
      flex-direction: column;
      margin-top: 12px;
      gap: 0;
      padding-bottom: 12px;
    }
  }

  &_heading {
    font-weight: 700;
    font-size: 1.28em;
    line-height: 1.77em;
  }

  &_cells {
    display: flex;
    gap: 0.85em;
  }

  &_cells:nth-child(2) {
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    gap: 0;
    @include for_phone {
      align-items: center;

      padding-bottom: 24px;
    }
  }

  &_cells:nth-child(1) {
    @include for_phone {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding-right: 12px;
    }
  }

  &_cell {
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
    align-items: center;
    min-width: 120px;

    &:nth-child(2) {
      min-width: 0px;
    }

    &_bold {
      font-weight: 700;
      line-height: 2.22em;
    }

    &_normal {
      line-height: 2.22em;

      @include for_small_phone {
        font-size: 12px;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &_cell:nth-child(2) {
    min-width: 0px;
  }
}
