.search {
	display: flex;
	background: $white;
	border-radius: 16px;
	min-width: 320px;
	width: 100%;

	&__input {
		height: 48px;
		border: 0px;
		border-radius: 16px;
		flex: 20;
		padding: 12px;
		@include for-device-xs {
			font-size: 16px;
		}
	}
	&__input::placeholder {
		color: $secondary-medium;
	}

	&__filters {
		display: flex;

		justify-content: center;
		align-items: center;

		color: $main-light;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $white;
		border-radius: 16px;
		border: 0px;
		flex: 1;
		min-width: 50px;
	}
}
.searchMobile {
	display: flex;
	margin: 20px auto;
	width: 320px;
	border: 1px solid $main-light;
	border-radius: 16px;
	background-color: $black;
	border-radius: 16px;

	&__input {
		background-color: $black;
		height: 48px;
		border: 0px;
		border-radius: 16px;
		flex: 20;
		padding: 12px;
		color: #fff;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 16px;
		border: 0px;
		flex: 1;
		min-width: 50px;
		background-color: $black;
	}
}

.vl {
	border-right: 1px solid $secondary-medium;
	height: 24px;
	margin: auto 0;
}
