.head_info {
  &_cells {
    display: grid;
    grid-template-columns: 1fr;
    height: 104px;
    padding-left: 32px;
    white-space: nowrap;
    padding-right: 10px;
    border: 0.5px solid #eff2f5;

    &_primary {
      align-self: flex-end;
      color: #58667e;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }
    &_secondary {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
