.lastestTransactions {
	margin: 15px auto;
	margin-top: 50px;
	box-sizing: border-box;

	background: #ffffff;

	&__tbody {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #eff2f5;
	}
	&__tr {
		display: flex;

		align-items: center;
		justify-content: start;
	}
	&__td {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 72px;
		width: 170px;
		border-top: 1px solid #eff2f5;
		background: #ffffff;
		&-div {
			align-self: end;
		}
	}
	&__p {
		display: flex;
		// flex-direction: row;
		margin: 0px;
		// margin-left: 12px;
	}

	&__circle {
		margin-right: 8px;
	}
	&__span-dark {
		display: flex;
		align-items: flex-end;
		line-height: 1.33em;
		font-weight: 600;
		min-width: 30px;

		color: #05060f;
	}
	&__span-light {
		display: flex;
		align-items: flex-end;
		font-size: 0.86em;
		line-height: 0.88 em;
		font-weight: 400;
		min-width: 30px;

		color: #58667e;
	}
	&__margin-left {
		margin-left: 8px;
	}
}
