.animated{
  position: relative;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}
.loader {
  top: 20px;
}

.moon-loader {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #EFF2F5;
  border-radius: 50%;
  border-top-color: #05060F;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
