.mainInfo {
	display: grid;
	grid-template-columns: repeat(2, auto);
	margin: 30px auto;

	@include for-device-large {
		display: flex;
		flex-direction: column;
		margin: 30px auto;
	}
	&__table {
		display: grid;
		grid-template-columns: repeat(3, auto);
		background: $white;
		border-radius: 1.15em 0 0 1.15em;
		@include for-device-large {
			border-radius: 1.15em 1.15em 0 0;
		}
		@include for-device-medium {
			grid-template-columns: repeat(2, auto);
		}
		@include for-device-small {
			grid-template-columns: repeat(1, auto);
			min-width: 320px;
		}
	}

	&__td {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 105px;
		border: 0.5px solid #f6f6f6;
	}
	&__chart {
		height: 210px;
		width: 370px;
		border: 1px solid #f6f6f6;
		background-color: $white;
		border-radius: 0 1.15em 1.15em 0;
		@include for-device-large {
			border-radius: 0 0 1.15em 1.15em;
			width: 100%;
		}
	}
	&__text {
		margin: 0 12px;
		white-space: nowrap;
		width: 168px;
		@include for-device-large {
			width: 155px;
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto 0;
		margin-left: 32px;
		border: 1px solid #f4f5f6;
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}
	&__span-light {
		font-weight: 400;
		line-height: 0.88em;
		color: $main-medium;
	}
	&__span-dark {
		font-style: normal;
		font-weight: 600;
		font-size: 1.28em;
		line-height: 1.33em;
		color: $main;
	}
}
