.methodModal {
	&__table {
		position: absolute;
		z-index: 1;
		background: #fff;
		border: 1px solid #eff2f5;
		border-radius: 16px;
	}
	&__link {
		display: flex;
		align-items: center;
		z-index: 1;
		width: 180px;
		padding: 12px 16px;

		height: 48px;
		color: #05060f;
		font-weight: 400;
		line-height: 1.22em;
		text-decoration: none;
		border-top: 1px solid #eff2f5;
	}
	&__link:hover,
	&__link:focus,
	&__link:enabled,
	&__link:active {
		background-color: #eff2f5;
		border-radius: 16px;
	}
	&__link:nth-child(1) {
		border-top: 0px solid #eff2f5;
	}
}
