.transactions_wrapper {
  max-height: 700px;
  overflow: auto;
  transform: translateX(-12px);

  @include for_laptop {
    width: calc(100% + 16px);
  }
}

.tabs_link_new {
  @include for_phone {
    margin-right: 20px;
  }
}

.tabs_list {
  max-height: 700px;
  overflow: auto;

  &_empty {
    overflow: hidden!important;
  }
}
