.tabs {
	display: grid;
	height: 56px;
	grid-template-columns: 1fr 400px;
	grid-row-gap: 3vw;
	border-bottom: 1px solid #eff2f5;

	&__filters {
		display: flex;
		height: 56px;
		padding: 8px 0;
	}

	&__calendar {
		margin-top: 8px;
		z-index: 1;
		border-radius: 12px;
		&-exportCsv {
			position: relative;
			left: 280px;
			bottom: 50px;
			height: 40px;
			width: 100px;
			background-color: $main;
			color: #fff;
			border-radius: 4px;
		}
		&-exportCsv:hover {
			box-shadow: 4px 8px 8px rgb(0 0 0 / 25%);
		}
	}

	&__link {
		color: $main-light;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.28em;
		line-height: 1.78em;
		margin-right: 32px;
		display: flex;
		align-items: center;
		&-active {
			color: $main;
			border-bottom: 4px solid $main;
			border-collapse: collapse;
		}
	}
	&__link:hover {
		color: $main;
		border-bottom: 4px solid $main;
		border-collapse: collapse;
	}
	&__exportCsv {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex: 1;

		&-btn {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 139px;
			height: 40px;
			border: 1px solid #eff2f5;
			box-sizing: border-box;
			border-radius: 16px;
		}
		&-btn:hover {
			border-color: $main;
		}
		// &-btn:hover,
		// :active {
		// 	border: 1px solid $main;
		// }
		&-text {
			font-weight: 600;
			line-height: 1.33em;
			margin: 8px 16px;
		}
	}
	&__exportModal {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 8px 0px;
	}
}
