.tabs {
  display: grid;

  &_heading {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3vw;
    background-color: white;
    z-index: 1;
    overflow-x: auto;
    margin-left: 15px;
    border-bottom: 1px solid #eff2f5;

    &::-webkit-scrollbar {
      display: none;
    }

    &_filters {
      display: flex;
      height: 56px;
    }

    &_export_modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      // position: relative;

      @include for_tablet {
        width: 100%;
      }

      &_mobile {
        // margin-top: 50px;
        position: absolute;
        top: 61px;
        z-index: 999;
        right: 0;
        @include for_tablet {
          // margin-top: 39px;
        }
      }
    }
  }

  &_table {
    padding-left: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    @include for_phone {
      position: relative;
      max-height: 500px;
      overflow-y: scroll;
    }
  }
  .contract-link {
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    margin-right: 12px;
  }
  &_link {
    color: $main-light;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.28em;
    line-height: 1.78em;
    margin-right: 32px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

    &_active {
      color: $main;
      border-bottom: 4px solid $main;
      border-collapse: collapse;
      padding-top: 4px;
    }
  }

  &_link:hover {
    color: $main;
    border-bottom: 4px solid $main;
    border-collapse: collapse;
    padding-top: 4px;
  }

  &_side_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include for_tablet {
    }

    &_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background: $secondary;
      border-radius: 8px;
    }
  }
  &_not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    @include for_phone {
      padding-top: 80px;
    }
    &_text {
      margin-top: 32px;
      font-weight: 700;
      font-size: 18px;
      line-height: 40px;
      color: #05060f;
    }
  }
}
