.token {
	height: 42px;
	display: flex;
	justify-content: flex-end;
	@include for-device-medium {
		display: flex;

		justify-content: flex-start;
	}
	&__info {
		display: flex;
		position: absolute;
		flex-direction: row;
		z-index: 1;

		&-name {
			margin-right: 10px;
			font-weight: 700;
			font-size: 1.28em;
			line-height: 2.28em;
			height: 100%;
		}
	}
}

// tokenModal

.tokenModal {
	display: flex;
	flex-direction: column;
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	width: 324px;
	&__search {
		width: 300px;
		height: 40px;
		background: #f4f5f6;
		border: 1px solid #eff2f5;
		border-radius: 16px;
		margin: 10px auto;
		padding-left: 12px;
	}
	&__search::placeholder {
		line-height: 1.33em;
		color: #a6b0c3;
	}
	&__tokens {
		display: flex;
		align-items: center;
		padding-left: 12px;
		height: 32px;
		border-top: 1px solid #eff2f5;
		font-weight: 600;
		line-height: 1.33em;
	}
}

// tokenFilter

.tokenFilter {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	background: #fff;
	border: 1px solid #eff2f5;
	border-radius: 16px;
	@include for-device-xs {
		min-width: 260px;
	}

	&__input {
		display: flex;
		align-items: center;
		height: 48px;
		border: 0px;
		border-radius: 16px;
		flex: 20;

		&-rectangle {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 8px;

			color: #ffffff;
			font-weight: 700;
			font-size: 0.78em;
			line-height: 1.33em;

			width: 24px;
			height: 24px;
			background: $main-light;
			border-radius: 8px;
		}
		&-text {
			line-height: 1.33 em;
			flex: 6;
		}
		&-btn {
			display: flex;
			justify-content: flex-end;
			margin-right: 17px;
			background: #ffffff;
			border-radius: 16px;
			border: 0px;
			flex: 1;
		}
	}
	&__input::placeholder {
		color: $secondary-medium;
	}
}

// tokenItem

.tokenItem {
	display: grid;
	grid-template-columns: 22px 1fr 1fr;
	padding: 12px;
	border-top: 1px solid #eff2f5;
	cursor: pointer;

	&:focus {
		outline: none;
	}
	&:hover {
		background-color: #eff2f5;
		border-top: 1px solid #fff;
	}
	&:hover:nth-last-child(1) {
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}

	&__tokens {
		line-height: 1.33em;
	}
	&__tokens:hover {
		background-color: #eff2f5;
	}
	&__amount {
		text-align: end;
		line-height: 1.33em;
	}
	&__icon {
	}
}
