.view_more_btn {
  display: flex;
  margin-top: 15px;
  &_content {
    width: 180px;
    height: 32px;
    color: $main-light;
    margin: auto;
    background: #ffffff;
    border: 1px solid #eff2f5;
    box-sizing: border-box;
    border-radius: 16px;
  }
}
