.mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100px;

  &_btn {
    z-index: 9998;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 8px 49px rgba(162, 178, 216, 0.65);
    border-radius: 8px 8px 0 0;
    color: #3568dd;
    width: 100%;
    left: 0;

    svg {
      margin-right: 16px;

      rect {
        fill: #457eff;
      }
    }
  }

  &_modal {
    z-index: 9999;
    box-shadow: 0 16px 32px 0 #698ee233;
    background-color: #fff;
    padding: 20px;
    right: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-top: 0;
    top: 0;
    overflow-y: scroll;
    @include for_phone {
      width: 100%;
    }

    .menu_item {
      font-size: 16px;
      font-weight: 600;
    }

    .list__item {
      .menu_item.with_arrow {
        justify-content: space-between;
        display: flex;
        width: 100%;
      }

      .sub-menu {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        box-shadow: none;
      }
    }
  }

  &_item {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #4d4d4d;

    margin: 0 0 20px 20px;
  }
}

.mobile_menu_modal__title {
  font-size: 20px;
  font-weight: 500;
}

.help__close {
  position: absolute;
  top: 20px;
  right: 30px;

  img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-height: 693px) and (min-width: 600px) {
  .help {
    height: calc(100vh - 16px - 111px);
  }
}

@include for_laptop {
  .help {
    margin-bottom: 54px !important;

    @media screen and (max-width: 600px) {
      margin-bottom: 0 !important;
    }
  }

  .handle-help-btn {
    bottom: 54px !important;
  }
}
