.mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100px;

  &_btn {
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    background: rgba(255, 255, 255, 0.5);
    border: 1.5px solid #457eff;
    backdrop-filter: blur(4px);
    border-radius: 90px;
    color: #457eff;

    svg {
      margin-right: 16px;

      rect {
        fill: #457eff;
      }
    }
  }

  &_modal {
    box-shadow: 0px 16px 32px 0px #698ee233;
    background-color: #fff;
    padding: 20px;
    right: 0px;
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-top: 0;
    top: 0;
    overflow-y: scroll;
    @include for_phone {
      width: 100%;
    }
  }

  &_item {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #4d4d4d;

    margin: 0 0 20px 20px;
  }
}
