.mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100px;

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #808a9d;
    border-radius: 16px;
    background-color: #212121;
  }

  &_modal {
    display: grid;
    grid-template-rows: repeat(8, auto);
    position: absolute;
    background-color: #212121;
    right: 0px;
    margin-top: 40px;
    width: 360px;
    z-index: 5;
    @include for_phone {
      width: 100%;
    }
  }

  &_item {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #4d4d4d;

    margin: 0 0 25px 20px;
  }
}
