.address_blocks {
  &_icon {
    display: flex;
    margin-right: 4px;
    // text-decoration: underline solid #05060f;
    flex-shrink: 0;
  }

  &_cells {
    display: grid;
    grid-template-columns: 200px 150px 115px 115px 110px 100px 220px 110px;

    &:hover {
      background-color: #eff2f5;
    }
  }
  &_erc20 {
    display: grid;
    grid-template-columns: 220px 160px 150px 150px 150px 150px 220px;
    &:hover {
      background-color: #eff2f5;
    }
  }
  &_cell {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding-right: 32px;
    height: 48px;
  }
}
