.address_blocks_header {
  &_cells {
    display: grid;

    grid-template-columns: 200px 150px 115px 115px 110px 100px 220px 110px;
  }
  &_erc20 {
    display: grid;
    grid-template-columns: 220px 160px 150px 150px 150px 150px 220px;
  }

  &_cell {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.86em;
    line-height: 1.77em;
    height: 36px;
    padding-top: 12px;
    align-content: flex-end;
  }
}
