.address_blocks {
  &-icon {
    text-decoration: underline solid #05060f;
  }

  &_td {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding-right: 32px;
  }
}
