{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
      "<THIRD_PARTY-MODULES>",
      "^@/API/(.*)$",
      "^@/assets/(.*)$",
      "^@/components/(.*)$",
      "^@/config/(.*)$",
      "^@/hooks/(.*)$",
      "^@/layouts/(.*)$",
      "^@/pages/(.*)$",
      "^@/state/(.*)$",
      "^@/style/(.*)$",
      "^@/utils/(.*)$",
      "^../(.*)",
      "^./(.*)",
      "(.scss)$"
  ],
  "importOrderSeparation":true,
  "importOrderSortSpecifiers":true


}
