.addresses_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  white-space: nowrap;
  height: 103px;

  @include for_tablet {
    height: 100%;
    height: 103px;
  }
  @include for_phone {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 26px 0px;
  }
  &_cells {
    display: grid;
    grid-template-columns:
      minmax(50px, 1.3fr) minmax(370px, 5fr)
      minmax(80px, 2fr) minmax(240px, 4fr) minmax(50px, 1fr);
    padding-left: 6px;
    height: 36px;
    padding-top: 12px;
    align-content: flex-end;
  }
  &_cell {
    font-size: 12px;
    line-height: 32px;
    font-weight: 700;

    @include for_phone {
      margin: 0px;
    }
  }
}

// &__header {
//     &-cell {
//       display: flex;
//       align-items: center;
//       font-weight: 700;
//       font-size: 12px;
//       line-height: 32px;
//       height: 48px;
//       white-space: nowrap;
//       padding-right: 32px;
//     }
//   }
