.main_info_addresses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  white-space: nowrap;
  height: 103px;

  @include for_tablet {
    height: 100%;
    height: 103px;
  }
  @include for_phone {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 26px 0px;
  }

  &_heading {
    display: flex;
    @include for_phone {
      margin: 6px 0px;
    }
  }

  &_table {
    display: flex;
    align-items: center;
    gap: 32px;
    @include for_phone {
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
    }
  }

  &_cells {
    display: flex;

    @include for_tablet {
      flex-direction: row;
      margin: 6px 0px;
    }
  }

  &_cell {
    margin-right: 8px;

    font-size: 18px;
    line-height: 32px;

    &:nth-child(odd) {
      font-weight: 700;
    }

    @include for_phone {
      //
    }
  }
}
