.lastest_transactions {
  &_heading {
    font-weight: 700;
    font-size: 1.29em;
    line-height: 1.78em;
    border-bottom: 1px solid $secondary;
    padding-bottom: 15px;
  }
  &_cells {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 72px;
    border-bottom: 1px solid $secondary;
    @include for_phone {
      white-space: nowrap;
    }
  }
  &_cell {
    display: grid;
    align-items: center;

    &_content {
      display: flex;
      gap: 8px;
    }
  }

  &_cell:nth-child(2) {
    margin: 0px auto;
  }
  &_cell:nth-child(3) {
    justify-items: end;
  }

  &_circle {
    margin-right: 8px;
  }
  &_font_big {
    min-width: 30px;
    line-height: 1.33em;
    font-weight: 600;
    @include for_small_phone {
      font-size: 12px;
    }
  }
  &_font_small {
    min-width: 30px;
    font-size: 0.86em;
    line-height: 0.88 em;
    font-weight: 400;
    color: $main-medium;
    @include for_small_phone {
      font-size: 10px;
    }
  }

  &_btn {
    display: flex;
    margin-top: 15px;
    &-content {
      width: 180px;
      height: 32px;
      color: $main-light;
      margin: auto;
      margin-bottom: 95px;
      background: $white;
      border: 1px solid $secondary;
      box-sizing: border-box;
      border-radius: 16px;
    }
  }
}
