.bundle_details_tab {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: #fff;
  border: 1px solid #eff2f5;
  border-radius: 16px;
  margin-bottom: 32px;
  @include for_big_tablet {
    display: flex;
    flex-direction: column;
  }
}
