.atlas_blocks_header {
  display: grid;
  grid-template-columns: 82px 405px 190px 117px 180px 192px;

  &_cell {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    height: 48px;
    white-space: nowrap;
    padding-right: 32px;
    padding-left: 5px;
  }
}
