.atlas_blocks_body {
  display: grid;
  // grid-template-columns: repeat(6, auto);
  grid-template-columns: 82px 405px 190px 117px 180px 192px;

  //   flex-direction: column;
  .balance {
    width: max-content;
    white-space: nowrap;
  }

  &:hover {
    background-color: #eff2f5;
    z-index: 25;
    position: absolute;
  }

  &_cell {
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    white-space: nowrap;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    padding-right: 32px;
    padding-left: 5px;

    &_token {
      padding-right: 6px;
    }
    &_value {
      padding-right: 6px;
    }

    // &:nth-child(1) {
    //   padding-left: 10px;
    // }
  }
}
