.atlas_blocks_body {
  display: grid;
  grid-template-columns:
    minmax(50px, 1fr)
    minmax(360px, 6fr)
    minmax(150px, 3fr)
    minmax(80px, 2fr)
    minmax(190px, 3fr)
    minmax(150px, 3fr);
  z-index: 25;
  position: relative;
  width: fit-content;
  border-bottom: 1px solid #eff2f5;
  grid-gap: 32px;
  .balance {
    width: max-content;
    white-space: nowrap;
  }

  &:hover {
    background-color: #eff2f5;
  }

  &_cell {
    align-items: center;
    white-space: nowrap;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 48px;

    padding-left: 5px;

    &_token {
      padding: 6px;
    }
    &_value {
      padding-right: 6px;
    }
    &_icon {
      color: #808a9d;
      font-weight: 600;
    }
    &_amb {
      display: flex;
      align-items: center;
      justify-self: center;
      padding-right: 6px;
    }
  }
}
