.find_wide_mobile {
  display: flex;
  margin: 20px auto;
  border: 1px solid #A2B2D8;
  border-radius: 24px;
  min-width: 320px;
  width: 85%;

  &_input {
    height: 48px;
    border: 0px;
    border-radius: 24px;
    flex: 20;
    padding: 12px;
    color: #fff;

    &::placeholder {
      color: #A2B2D8;
    }
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    flex: 1;
    min-width: 50px;

    svg path {
      fill: #A2B2D8;
    }
  }
}

.vl {
  border-right: 1px solid $secondary-medium;
  height: 24px;
  margin: auto 0;
}
