.find_wide_mobile {
  display: flex;
  margin: 20px auto;
  border: 1px solid $main-light;
  border-radius: 16px;
  min-width: 320px;
  width: 85%;
  background-color: $black;
  border-radius: 16px;

  &_input {
    background-color: $black;
    height: 48px;
    border: 0px;
    border-radius: 16px;
    flex: 20;
    padding: 12px;
    color: #fff;
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 0px;
    flex: 1;
    min-width: 50px;
    background-color: $black;
  }
}

.vl {
  border-right: 1px solid $secondary-medium;
  height: 24px;
  margin: auto 0;
}
