.universall {
  &_link_underline {
    text-decoration: underline;
  }
  &_capitalize {
    text-transform: capitalize;
  }
  &_filter {
    &-btn {
      display: flex;
      margin-left: 6px;
    }
  }

  &_dark {
    color: $main;
  }

  &_light1 {
    color: #58667e;
  }

  &_light2 {
    color: #808a9d;
  }
  &_light3 {
    color: #a6b0c3;
  }
  &_semibold {
    font-weight: 600;
  }
  &_bold {
    font-weight: 700;
  }
  &_green {
    color: #1acd8c;
  }
  &_red {
    color: #ff3a75;
  }
  &_ibm {
    font-family: IBM Plex Mono, sans-serif;
  }

  &_indent {
    &_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
  }

  &_hover {
    cursor: pointer !important;

    &:hover {
      color: #fff;
    }
  }
  &_ibm_font {
    font-family: IBM Plex Mono, sans-serif;
  }
}

.loader {
  position: relative;
  top: 40px;
  z-index: 3;
}

.style {
  display: grid;
}

.address {
  &_content {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 40px;
    @include for_phone {
      font-size: 14px;
    }
    @include for_small_phone {
      font-size: 12px;
    }
  }

  &_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
    border-radius: 8px;
    color: #fff;

    &_copyed {
      position: absolute;
      margin: 70px 0 0 10px;
    }
  }
}
