// Address

// AddressDetails

.addressDetails {
	&__h1 {
		display: flex;
		align-items: center;
		margin: 30px auto;
		white-space: nowrap;
		@include for-device-large {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__copy {
		display: flex;
		align-items: center;
		margin: 12px;
		font-size: 2.3rem;
		line-height: 2.2rem;
		font-style: normal;
		font-weight: 400;
		@include for-device-large {
			margin-left: 0px;
			font-size: 2rem;
		}
		@include for-device-medium {
			font-size: 1.5rem;
		}
		@include for-device-small {
			font-size: 0.88rem;
		}
		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 24px;
			font-weight: 700;
			font-size: 11px;
			line-height: 32px;
			background: #f6f6f6;
			border-radius: 8px;
			color: #fff;
			&-copyed {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 56px;
				height: 24px;
				font-weight: 700;
				font-size: 11px;
				line-height: 32px;
				background: #1acd8c;
				border-radius: 8px;
				color: #fff;
			}
		}
		&-popup {
			position: absolute;
			margin-top: 70px;
		}
	}

	&__info {
		display: grid;
		grid-template-columns: 1fr 400px;
		grid-row-gap: 3vw;
		margin-bottom: 32px;
		@include for-device-medium {
			display: flex;
			flex-direction: column;
			grid-row-gap: 16px;
		}

		&-tokenName {
			display: flex;
			align-self: center;
			margin-right: 10px;
			font-weight: 700;
			font-size: 1.28em;
			line-height: 2.28em;
		}
	}
	&__div {
		display: flex;
		gap: 4px;

		&-span {
			font-style: normal;
			font-weight: 400;
			font-size: 1.28em;
			line-height: 2.28em;
		}
	}
	&__table {
		min-height: 30px;
		width: 100%;
		display: grid;
		grid-row-gap: 32px;
		gap: 32px;
		margin-top: 16px;
		position: relative;
		white-space: nowrap;
		overflow: auto;
		@include for-device-small {
		}
	}

	&__thead-td {
		font-weight: 700;
		font-size: 0.86em;
		line-height: 1.77em;
	}
	&__tbody-td {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eff2f5;
	}
	&__button {
		display: flex;
		border-bottom: 1px solid #eff2f5;
	}
}
