@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Thin.eot');
  src: url('../../assets/fonts/Roboto-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Roboto-Thin.woff2') format('woff2'),
    url('../../assets/fonts/Roboto-Thin.woff') format('woff'),
    url('../../assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-LightIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-LightIt.ttf')
      format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-RegularIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-RegularIt.ttf')
      format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Semibold.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Semibold.ttf')
      format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-SemiboldIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-SemiboldIt.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-ThinIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-ThinIt.ttf')
      format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNovaT-Thin.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNovaT-Thin.ttf')
      format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Black.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Black.ttf')
      format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-BlackIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-BlackIt.ttf')
      format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Bold.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Bold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-BoldIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-BoldIt.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Extrabld.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Extrabld.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-ExtrabldIt.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Light.woff2')
      format('woff2'),
    url('../../assets/fonts/ProximaNova/ProximaNova-Light.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/fonts/IbmPlexMono/IBMPlexMono-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/fonts/IbmPlexMono/IBMPlexMono-ExtraLight.ttf')
    format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/fonts/IbmPlexMono/IBMPlexMono-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/fonts/IbmPlexMono/IBMPlexMono-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/fonts/IbmPlexMono/IBMPlexMono-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/fonts/IbmPlexMono/IBMPlexMono-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/fonts/IbmPlexMono/IBMPlexMono-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Regular.eot");
  src: url("../../assets/fonts/Inter-Regular.woff") format("woff"),
  url("../../assets/fonts/Inter-Regular.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Medium.eot");
  src: url("../../assets/fonts/Inter-Medium.woff") format("woff"),
  url("../../assets/fonts/Inter-Medium.ttf") format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/inter-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../assets/fonts/inter-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/inter-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/inter-v12-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/inter-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/inter-v12-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Bold.eot");
  src: url("../../assets/fonts/Inter-Bold.woff") format("woff"),
  url("../../assets/fonts/Inter-Bold.ttf") format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-Black.eot');
  src: local('Inter Black'), local('Inter-Black'),
  url('../../assets/fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Inter-Black.woff') format('woff'),
  url('../../assets/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
