@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Thin.eot');
  src: url('../../assets/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Roboto-Thin.woff2') format('woff2'), url('../../assets/fonts/Roboto-Thin.woff') format('woff'),
  url('../../assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Rg */

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-LightIt.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-RegularIt.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-ThinIt.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNovaT-Thin.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Black.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-BlackIt.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-BoldIt.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Extrabld.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Rg */

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-ExtrabldIt.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2'),
  url('../../assets/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
