.atlas_details_balance {
  display: grid;
  grid-template-columns: repeat(3, auto);
  // minmax(300px, 1fr) minmax(260px, 1fr)
  // minmax(260px, 1fr);
  background: #ffffff;
  border: 1px solid #eff2f5;
  border-radius: 16px;
  margin-bottom: 32px;
  @include for_tablet {
    grid-template-columns: repeat(1, auto);
  }

  &_cells {
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: center;
    padding: 0 32px;
    flex: 1;
    border-right: 1px solid #eff2f5;
    &:last-child() {
      border-right: none;
    }
    @include for_tablet {
      height: 64px;
      border-bottom: 1px solid #eff2f5;
      border-right: none;
      &:last-child() {
        border-bottom: none;
      }
    }
  }
  &_fonts {
    &_bold {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
    &_normal {
      line-height: 16px;
    }
  }
  &_online {
    color: #1acd8c;
  }
}
