.address_details {
  &_h1 {
    display: flex;
    align-items: center;
    margin: 30px auto;
    white-space: nowrap;

    &:not(&-tx) {
      @include for_laptop {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-tx {
      justify-content: space-between;
    }

    &_status {
      color: #1acd8c;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      margin-top: 5px;
      display: block;
    }
  }

  &_copy {
    display: flex;
    align-items: center;
    margin: 12px;
    font-size: 2.3rem;
    line-height: 2.2rem;
    font-style: normal;
    font-weight: 400;
    @include for_laptop {
      margin-left: 0px;
      font-size: 2rem;
    }
    @include for_tablet {
      font-size: 1.4rem;
    }
    @include for_phone {
      font-size: 1rem;
    }
    @include for_small_phone {
      font-size: 0.8rem;
    }
    .address_details_copyed {
      position: absolute;
      margin: 70px 0 0 10px;
    }

    &_btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background: #f6f6f6;
      border-radius: 8px;
      color: #fff;
      padding-left: 10px;

      &_copyed {
        display: flex;
        align-items: center;
        position: absolute;
        margin: 65px 0 0 10px;
      }
    }
    &_copyed {
      position: absolute;
      margin: 70px 0 0 10px;
    }

    &_popup {
      position: absolute;
      margin-top: 70px;
    }
  }

  &_info {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-row-gap: 3vw;
    margin-bottom: 32px;
    @include for_tablet {
      display: flex;
      flex-direction: column;
      grid-row-gap: 16px;
    }

    &_text {
      display: flex;
      gap: 4px;
      @include for_phone {
        flex-direction: column;
      }

      &_span {
        font-style: normal;
        font-weight: 400;
        font-size: 1.28em;
        line-height: 2.28em;
      }
    }
  }
}

#centered-tooltip {
  background-color: #808a9d !important;
  color: #ffffff !important;
  border-radius: 8px;

  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  padding: 6px;

  &:before {
    border-top-color: #808a9d !important;
  }
}

.flex_between {
  flex-direction: row;
}

.flex_row {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 155px;
}
