.apollo_blocks_header {
  display: grid;
  grid-template-columns:
    minmax(50px, 1fr)
    minmax(360px, 6fr)
    minmax(150px, 3fr)
    minmax(80px, 2fr)
    minmax(190px, 3fr)
    minmax(150px, 3fr);
  grid-gap: 32px;

  &_cell {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    height: 48px;
    white-space: nowrap;
    padding-right: 32px;
    padding-left: 5px;
  }
}
