.apollo_blocks_body {
  display: grid;
  grid-template-columns: 82px 405px 190px 117px 190px 192px;

  //   flex-direction: column;
  .balance {
    width: max-content;
    white-space: nowrap;
  }

  &:hover {
    background-color: #eff2f5;
  }

  &_cell {
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    white-space: nowrap;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    padding-right: 32px;
    padding-left: 5px;
    &_token {
      padding-right: 6px;
    }
    &_value {
      padding-right: 6px;
    }

    &_online {
      color: #1acd8c;
      padding-right: 4px;
    }
    &_offline {
      color: #bfc9e0;
    }

    // &:nth-child(1) {
    //   padding-left: 10px;
    // }
  }
}
