.apollo_blocks_body {
  width: fit-content;
  display: grid;
  grid-template-columns:
    minmax(20px, 1fr)
    minmax(380px, 6fr)
    minmax(110px, 2fr)
    minmax(80px, 1fr)
    minmax(190px, 3fr)
    minmax(150px, 3fr);

  &_retired {
    width: 100%;
    grid-template-columns:
      minmax(360px, 6fr)
      minmax(150px, 3fr)
      minmax(190px, 3fr)
      minmax(150px, 3fr);
  }
  border-bottom: 1px solid #eff2f5;

  grid-gap: 16px;

  &:hover {
    background-color: #eff2f5;
  }
  .balance {
    width: max-content;
    white-space: nowrap;
  }

  &_cell {
    align-items: center;
    white-space: nowrap;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    padding-left: 5px;

    &_token {
      padding: 0 6px;
      color: #808a9d;
      font-weight: 600;
    }
    &_value {
      padding-right: 6px;
    }

    &_online {
      color: #16c784;
      padding-right: 4px;
    }
    &_offline {
      color: #bfc9e0;
    }
    &_yellow {
      color: #ffac23;
    }
  }
}

a.apollo_blocks_body_cell {
  text-decoration: underline;
}
