.main_info_apollo {
  height: 100%;

  &_heading {
    margin: 32px 0;
  }

  &_table {
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: #fff;
    margin-bottom: 32px;
    border: 1px solid #eff2f5;
    border-radius: 16px;
    @include for_tablet {
      grid-template-columns: repeat(1, auto);
    }
  }

  &_cell {
    height: 104px;
    padding-left: 32px;
    padding-right: 0px;
    border-right: 1px solid #eff2f5;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    &:last-child {
      border-right: 0px solid #eff2f5;
    }

    @include for_tablet {
      height: 64px;
      border-bottom: 1px solid #eff2f5;
      border-right: none;

      &:last-child {
        border-bottom: 0px solid #eff2f5;
      }
    }
    &_primary {
      display: flex;
      align-items: flex-end;
      font-size: 14px;
      line-height: 16px;
      color: #58667e;
    }

    &_secondary {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #05060f;
    }
  }
}
