@import './apollo';
@import './components/apollo_blocks_body';
@import './components/apollo_blocks_header';
@import './components/apollo_blocks_sort';
@import './components/main_info_apollo.scss';
@import './components/stake-size';
@import './components/change-address';

// apolloDetails
@import './apollo_details/apollo_details';
@import './apollo_details/components/apollo_details_balance';
@import './apollo_details/components/apollo_details_main';
@import './apollo_details/components/apollo_details_mining_stats';
