.main_info_block {
  height: 100%;

  &_heading {
    margin: 32px 0;
  }

  &_table {
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: #fff;
    margin-bottom: 32px;
    border: 1px solid #eff2f5;
    border-radius: 16px;
    @include for_tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &_cell {
    height: 100px;
    padding: 32px;
    padding-right: 0px;
    border-right: 1px solid #eff2f5;
    display: grid;
    grid-template-rows: repeat(2, auto);

    &:last-child {
      border-right: 0px solid #eff2f5;
    }

    @include for_tablet {
      border-bottom: 1px solid #eff2f5;
      border-right: none;

      &:last-child {
        border-bottom: 0px solid #eff2f5;
      }
    }
    &_primary {
      font-size: 14px;
      line-height: 16px;
      color: #58667e;
    }

    &_secondary {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #05060f;
    }
  }
}
