.apollo_details_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  &_nd {
    display: flex;
    flex-direction: column;
  }
  &_address {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &_cell {
    background-color: transparent;
    display: flex;
    font-size: 18px;
    line-height: 40px;
  }
  &_online {
    color: #1acd8c;
  }
}
