.apollo_details_mining_stats {
  display: grid;
  grid-template-columns: repeat(4, auto);
  // minmax(230px, 2fr) minmax(260px, 2fr) minmax(260px, 2fr)
  // minmax(210px, 1fr);
  background: #ffffff;
  border: 1px solid #eff2f5;
  border-radius: 16px;
  margin-bottom: 32px;
  white-space: nowrap;
  position: relative;

  @include for_big_tablet {
    grid-template-columns: repeat(2, auto);
  }
  @include for_phone {
    grid-template-columns: repeat(1, auto);
  }

  &_cells {
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: center;
    padding: 0 32px;
    flex: 1;
    border-right: 1px solid #eff2f5;
    &:first-child {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    @include for_big_tablet {
      height: 64px;
      border-bottom: 1px solid #eff2f5;
      border-right: 1px solid #eff2f5;
      &:nth-child(even) {
        border-right: none;
      }
      &:nth-child(3) {
        border-bottom: none;
      }
      &:nth-child(4) {
        border-bottom: none;
      }
      @include for_phone {
        height: 64px;

        border-right: none;
        border-bottom: 1px solid #eff2f5 !important;
        &:nth-child(4) {
          border-bottom: none !important;
        }
      }
    }

    &:last-child() {
      border-right: none;
    }
  }
  &_cell {
    display: flex;
    margin-right: 12px;

    &:first-child {
      flex-direction: column;
    }
  }
  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    border: 1px solid #eff2f5;
    border-radius: 16px;
  }
  &_fonts {
    &_bold {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
    &_normal {
      line-height: 16px;
    }
  }
  &_online {
    color: #1acd8c;
  }
}
