.apollo_details_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  margin-top: 12px;
  @include for_tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  &_nd {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-top: 20px;
  }
  &_address {
    display: flex;
    align-items: center;
    gap: 12px;

    @include for_phone {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin-top: 8px;
    }
  }
  &_cell {
    background-color: transparent;
    display: flex;
    font-size: 18px;
    line-height: 40px;
  }
  &_online {
    color: #16C784;
  }
}

.apollo_details__owner-info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 24px;
  margin-bottom: 24px;
}

.apollo_details__owner-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  column-gap: 16px;
  width: 100%;
}

.telegram-widget {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 16px 24px;
  align-items: center;

  gap: 16px;

  border-radius: 16px;
  border: 1.5px solid var(--blue-200, #C9D9FF);
  background: var(--blue-100-secondary, #EDF3FF);

  &:visited, &:link, &:active {
    color: var(--neutral-400, #676B73);
    text-decoration: none;
  }
}

.telegram-widget__text {
  color: var(--neutral-400, #676B73);
  font-family: Inter, sans-serif;
  height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.telegram-widget__arrow {
  margin-left: auto;
}

.owner-dashboard__button {
  border: 1.5px solid var(--neutral-800, #191919);
  box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
  color: var(--neutral-800, #191919) !important;
}
