.blocks {
  &_main {
    display: grid;
    width: fit-content;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
    &_table {
      width: 100%;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      &::-webkit-scrollbar {
        overflow-y: scroll;

        @include  for_laptop{
          overflow-y: hidden;
        }
        display: none; /* for Chrome, Safari, and Opera */
      }
      @include for_laptop{
        overflow-x: scroll;
      }
    }
  }
}

.block_main_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  margin-top: 30px;
  margin-bottom: 30px;
  @include for_big_tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  &__in {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    @include for_tablet {
      gap: 6px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    white-space: nowrap;

    &_block {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 40px;
      display: flex;
      align-items: center;
      color: #05060F;
    }
  }

  &_validator {
    display: flex;
    flex-direction: row;
    gap: 6px;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    @include for_tablet {
      margin-top: 0px;
      font-size: 18px;
    }
    color: #05060F;

  }

  &_address {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #58667E;
    @include for_tablet {
      font-size: 12px;
    }
  }
}
