.home {
	// overflow: auto;

	&__heading {
		margin: 30px auto;
		@include for-device-small {
			font-size: 27px;
		}
		@include for-device-xs {
			font-size: 25px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		min-height: 600px;
		flex-grow: 1;

		min-width: 320px;
	}
	&__table {
		display: flex;
		justify-content: center;
		width: 100%;
		gap: 44px;
		margin-top: 50px;
		background: #ffffff;
	}
}
