.home {
  // overflow: auto;
  &_info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 30px auto;

    @include for_laptop {
      display: flex;
      flex-direction: column;
      margin: 30px auto;
    }

    &_table {
      display: grid;
      grid-template-columns: repeat(3, auto);
      background: $white;
      border-radius: 1.15em 0 0 1.15em;
      @include for_laptop {
        border-radius: 1.15em 1.15em 0 0;
      }
      @include for_tablet {
        grid-template-columns: repeat(2, auto);
      }
      @include for_phone {
        grid-template-columns: repeat(1, auto);
        min-width: 320px;
      }
    }
  }

  &_heading {
    margin: 30px auto;
    @include for_phone {
      font-size: 27px;
    }
    @include for_small_phone {
      font-size: 25px;
    }
  }
}
