.bundle_tabs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #fff;
  border: 0.5px solid #eff2f5;
  border-radius: 16px;
  margin-bottom: 32px;

  @include for_tablet {
    grid-template-columns: repeat(1, auto);
  }
}
