.blocks_blocks_body {
  display: grid;
  width: fit-content;
  grid-template-columns: 120px 600px 123px 76px 103px 103px;
  z-index: 25;
  position: relative;
  .balance {
    width: max-content;
    white-space: nowrap;
  }

  &:hover {
    background-color: #eff2f5;
  }

  &_cell {
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    white-space: nowrap;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    padding-right: 32px;
    padding-left: 5px;

    &_token {
      padding-right: 6px;
    }

    &_value {
      padding-right: 6px;
    }

    &_icon {
      color: #808a9d;
      font-weight: 600;
    }
  }
}
