.blocks_blocks_header {
  display: grid;
  grid-template-columns: 120px 540px 123px 123px 123px 123px;
  height: 36px;

  &_cell {
    display: flex;
    padding-top: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    white-space: nowrap;
    padding-right: 32px;
    padding-left: 5px;
  }

  &_btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    white-space: nowrap;
  }
  &_status {
    display: flex;
    align-items: center;
    color: #808a9d;
    font-size: inherit;

    &_modal {
      position: absolute;
      top: 423px;
      margin-left: -8px;

      background: #ffffff;
      border: 1px solid #eff2f5;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      z-index: 50;
    }
  }
}
.validator-cell{
  font-style: normal;
  font-weight: 600!important;
  font-size: 14px!important;
  line-height: 24px;

  color: #808A9D;
}
