.universall {
	&__dark {
		color: $main;
	}
	&__light1 {
		color: #58667e;
	}
	&__light2 {
		color: #808a9d;
	}
	&__indent-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 8px;
	}
}
