.node-setup {
  width: 100%;
  padding-left: 268px;
  box-sizing: border-box;

  display: flex;
  flex-flow: column nowrap;
}

.node-setup__page {
  width: 100%;
}

.node-setup__common-heading {
  color: #1D1D1D;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */

  margin-bottom: 16px;
}

.node-setup__common-subheading {
  color: var(--neutral-700, #222426);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.216px;

  margin-bottom: 32px;
}

.white-container {
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 16px 32px 0px rgba(105, 142, 226, 0.20);

  margin-bottom: 16px;

  &_warning {
    margin-top: 32px;
  }
}

.white-container__heading {
  color: var(--neutral-900, #0E0E0E);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.white-container__text {
  color: var(--neutral-400, #676B73);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.white-container__text_warn {
  color: rgba(255, 172, 35, 1);
}

.white-container__button {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;

  color: white;

  border-radius: 1000px;
  background: var(--gradients-simple-blue-vertical, linear-gradient(180deg, #457EFF 0%, #3568DD 100%));

  /* Shadows/1 */
  box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
}

.white-container__address-button {
  cursor: pointer;
}

.white-container__address-button_active {
  &::after {
    content: ' ✔';
    color: green;
  }
}

.white-container__dropdown-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.white-container__input {
  height: 40px;
  border-radius: 162px;
  border: 1px solid var(--alpha-black-10, rgba(47, 43, 67, 0.10));
  background: var(--base-white, #FFF);
  box-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
  padding: 8px 16px;
  width: 85%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
}

.node-check {
  width: 100%;
  border-radius: 16px;
  border: 1.5px solid var(--blue-200, #C9D9FF);
  background: #EDF3FF;
  padding: 16px 24px;
}

.node-check__item {
  display: flex;
  padding: 13px 0;
  justify-content: space-between;
}

.node-check__label {
  font-size: 18px;
  font-weight: 600;
}

.node-check__value {
  font-size: 16px;
  font-weight: 500;
}

.node-setup__confirm {
  margin-top: 66px;
  padding: 16px 0;
  width: 100%;
  color: var(--blue-600-primary, #3568DD);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  border-radius: 16px;
  border: 1.5px solid var(--blue-600-primary, #3568DD);
  background: rgba(69, 126, 255, 0.07);
}
