.address_blocks {
  &_icon {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #808a9d;
    // text-decoration: underline solid #05060f;
    flex-shrink: 0;
  }

  &_cells {
    position: relative;
    display: grid;
    grid-template-columns:
      minmax(200px, 1fr) minmax(140px, 1fr) minmax(110px, 1fr)
      minmax(110px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)
      minmax(220px, 1fr) minmax(110px, 1fr);
    padding-left: 6px;
    width: fit-content;
    &:hover {
      background-color: #eff2f5;
    }
  }
  &_erc20 {
    display: grid;
    grid-template-columns:
      minmax(220px, 1fr) minmax(150px, 1fr) minmax(120px, 1fr)
      minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr)
      minmax(220px, 1fr);
    padding-left: 6px;

    &:hover {
      background-color: #eff2f5;
    }
  }
  &_cell {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding-right: 32px;
    height: 48px;
    &_token {
      display: flex;
      position: relative;
      align-items: center;
    }
    &_last {
      display: flex;
      position: relative;
      align-items: center;
      border-bottom: 1px solid #eff2f5;
      height: 48px;
    }
    &_icon {
      display: flex;
      align-items: center;
      justify-self: center;
    }
  }
  &_inner .address_blocks_cells {
  }
  &_plus {
    position: absolute;
    background: transparent;
    left: -13px;
    top: 15px;
  }
}
