.address_blocks {
  &_icon {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #808a9d;
    // text-decoration: underline solid #05060f;
    flex-shrink: 0;
  }

  &_cells {
    position: relative;
    display: grid;
    max-width: 100%;
    grid-template-columns:
      minmax(100px, 4fr) minmax(190px, 2fr) minmax(115px, 2fr)
      minmax(115px, 2fr) minmax(120px, 2fr) minmax(120px, 2fr)
      minmax(220px, 4fr) minmax(100px, 2fr);

    padding-left: 6px;
    border-bottom: 1px solid #eff2f5;

    &:hover {
      background-color: #eff2f5;
    }
  }
  &_erc20 {
    display: grid;
    grid-template-columns:
      minmax(100px, 1.5fr) minmax(170px, 2fr) minmax(115px, 2fr)
      minmax(115px, 2fr) minmax(120px, 2fr)
      minmax(250px, 3.5fr) minmax(220px, 2.5fr);
    padding-left: 6px;

    &:hover {
      background-color: #eff2f5;
    }
  }
  &_cell {
    display: flex;
    position: relative;
    align-items: center;

    height: 48px;
    &_token {
      display: flex;
      position: relative;
      align-items: center;
    }
    &_last {
      display: flex;
      position: relative;
      align-items: center;
      border-bottom: 1px solid #eff2f5;
      height: 48px;
    }
    &_icon {
      display: flex;
      align-items: center;
      justify-self: center;
    }
  }
  &_inner {
    margin-left: 16px;
  }
  &_plus {
    position: absolute;
    background: transparent;
    left: -16px;
    top: 15px;
  }
}
