.contract {
  padding: 0 25px 0 0;

  .contract-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    margin: 0;

    .contract-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      &-header {
        display: flex;
        flex-direction: column;
        padding: 0 0 32px 0;
        margin: 0 0 32px 0;
        position: relative;
        border-bottom: 1px solid #eff2f5;
        gap: 12px;

        &-title {
          font-family: 'Proxima Nova', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 40px;
          display: flex;
          align-items: center;
          color: #05060f;

          .verified-contract {
            color: #1acd8c;
          }

          .match-contract {
            font-weight: 400;
          }
        }

        &-info {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
          gap: 5%;
          flex-wrap: wrap;

          p {
            width: max-content;
            white-space: nowrap;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #05060f;

            span {
              font-weight: 400;
            }
          }
        }
      }

      .contract-tab-title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #05060f;
      }

      .code_contract {
        .files {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: inherit;
          height: 100%;
          padding: 0;
          margin: 0;
          margin-top: 32px;

          gap: 32px;

          .code-section {
            max-width: inherit;
            gap: 12px;
            display: flex;
            flex-direction: column;

            &-header {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 100%;
              padding: 0;

              &-title {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;

                color: #05060f;

                span {
                  font-weight: 400;
                }
              }

              &-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100px;
                position: relative;
                gap: 16px;

                .btn-contract-icon {
                  cursor: pointer;
                }
              }
            }

            &-body {
              max-width: 1140px;
              padding: 12px;
              box-sizing: border-box;
              background: rgba(246, 246, 246, 0.3);
              border: 1px solid #eff2f5;
              border-radius: 16px;

              .no-counter {
                white-space: break-spaces;
                max-height: 256px;
                overflow-y: scroll;
                background: transparent;
                border-radius: 2px;
                counter-reset: line;
              }

              .counter {
                white-space: break-spaces;
                max-height: 256px;
                overflow-y: scroll;
                background: transparent;
                border-radius: 2px;
                counter-reset: line;
              }

              .counter span {
                display: block;
                line-height: inherit;
              }

              .counter span:before {
                counter-increment: line;
                content: counter(line);
                display: inline-block;
                padding: 0px 10px 0px 0px;
                color: #888;
              }
            }
          }
        }

        .button {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: #f6f6f6;
          border-radius: 8px;
          color: #fff;

          &_copy {
            position: absolute;
            left: -10px;
          }
        }
      }

      .read_contract,
      .write_contract {
        .methods {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .method {
            display: flex;
            flex-direction: column;
            border: 1px solid #eff2f5;
            border-radius: 16px;
            padding: 12px;
            box-sizing: border-box;
            gap: 12px;
            position: relative;

            .open-btn {
              min-height: 15px;
              min-width: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &-toggle {
              position: absolute;
              right: 20px;
              top: 13px;
              cursor: pointer;
            }

            &-result {
              font-family: 'Proxima Nova';
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 15px;
              display: flex;
              align-items: center;

              color: #05060f;
            }

            &-name {
              font-family: 'Proxima Nova', serif;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              display: flex;
              align-items: center;
              color: #05060f;
            }

            &-params {
              display: flex;
              flex-direction: column;
              gap: 12px;

              &-param {
                display: flex;
                flex-direction: column;
                gap: 12px;

                &-name {
                  font-family: 'Proxima Nova';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 15px;
                  display: flex;
                  align-items: center;
                  color: #05060f;
                }

                input {
                  font-family: 'Proxima Nova';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 24px;
                  /* identical to box height, or 171% */

                  display: flex;
                  align-items: center;

                  color: #05060f;

                  padding: 12px;
                  height: 48px;
                  background: #ffffff;
                  border: 1px solid #eff2f5;
                  border-radius: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.fullscreen-view {
  overflow-y: scroll;
  margin: 0 auto;
  width: 90% !important;
  height: 90% !important;
  padding: 12px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #eff2f5;
  border-radius: 16px;

  * {
    box-sizing: border-box;
    white-space: pre-wrap;
  }
}

.ctr-btn {
  display: flex;
  padding: 5px 12px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  height: 24px;
  background: #808a9d;
  border-radius: 8px;
  text-align: center;
  font-family: 'Proxima Nova', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 32px;
  color: #ffffff;
}

.greenCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0fe396;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff5252;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remaining {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #a6b0c3;
}

.verify_contract-files::file-selector-button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0px;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.verify_contract-files::file-selector-button:hover {
  background: rgba(103, 143, 218, 0.1);
}

.verify_contract {
  &-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  &-input {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
  }
  &-addfiles {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
  }

  &_add {
    display: flex;
    flex-direction: column;
    min-height: 164px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    border: 2px dashed #808a9d;
    border-radius: 16px;
  }

  &-fileslist {
    display: flex;
    flex-direction: column;
    min-height: 164px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background: #eff2f5;
    border-radius: 16px;
    gap: 12px;
    padding: 0 12px;

    &-files {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      background: #fff;
      border-radius: 16px;
      padding: 0 12px;
    }
    &-name {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
    &-btn {
      width: 80px;
      height: 24px;
      background: #808a9d;
      border-radius: 8px;
      color: #fff;
    }
    &-heading {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin-top: 12px;
      height: 24px;
    }
  }
  &-filehead {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 32px;
    &-text {
      &-left {
      }
      &-right {
      }
    }
  }

  &_submit {
    height: 50px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 16px;
    justify-content: center;
    margin-top: 10px;
  }
  &_name {
    border: 1px dashed #000;
    height: 24px;
    padding: 2px;
    margin-bottom: 4px;
  }
  &-address {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;

    &-text {
      border: 1px solid #eff2f5;
      border-radius: 16px;
      padding-left: 12px;
      height: 48px;

      line-height: 24px;
      color: #a6b0c3;
    }
  }

  &-placeholder {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    width: inherit;
  }
  &-files {
    // display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}
