.token_item {
  display: grid;
  grid-template-columns: 22px 2fr 1fr;
  padding: 12px;
  border-top: 1px solid $secondary;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &_active {
    background-color: $secondary;
  }

  &:hover {
    background-color: $secondary;
  }

  &:hover:nth-last-child(1) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  &:nth-last-child(1) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &_tokens {
    padding-left: 10px;
    line-height: 1.33em;
  }

  &_amount {
    text-align: end;
    line-height: 1.33em;
  }

  &_icon {
    margin-right: 2px;
  }
}
